/* Set width of input text areas */
.example-grid-named-lines .css-testing-component__editor {
    width: 55ch;
}
.example-interaction-named-lines-areas .css-testing-component__editor {
    width: 52ch;
}

/* Aligning */
.align-table td:nth-child(1),
.align-table td:nth-child(2),
.align-table td:nth-child(3) {
    white-space: nowrap;
}
.block-axis {
    color: dodgerblue;
}
.inline-axis {
    color: mediumslateblue;
}
.both-axis {
    color: LightSkyBlue;
}
.individual-items {
    color: green;
}
.all-items {
    color: #21d521;
}