/* Core headings and sections: size and layout. */
h1 {
	font-size: 2em;
	margin-top: 5px;
	margin-bottom: 10px;
}
h2 {
	font-size: 1.4em;
	margin-top: 20px;
	margin-bottom: 20px;
}
h3 {
	font-size: 1.2em;
	margin-top: 15px;
	margin-bottom: 15px;
}
h4 {
	font-size: 1.1em;
	margin-top: 15px;
	margin-bottom: 0;
}
h5 {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0;
}
ul {
	margin-top: 0;
}
.example-description {
	margin-top: 0;
	margin-bottom: 10px;
}
.css-prop {
	font-size: .8em;
	font-family: monospace;
}

/* Make tables have a solid black border by default. */
table, th, td {
	border-collapse: collapse;
	border: 1px solid black;
}

/* Some predefined colours. */
.yes {
	color: green;
}
.no {
	color: red;
}

.container {
	background: gold;
	padding: 5px;
}
.a {
	background: dodgerblue;
}
.b {
	background: salmon;
}
.c {
	background: lightgreen;
}
.d {
	background: aquamarine;
}
.e {
	background: hotpink;
}

/* Core layout */
body {
	font-family: sans-serif;
	margin-left: 30px;
	margin-right: 30px;
}
/* min-width is intentionally 60px above max-width to ensure minimum horizontal margins of 30px */
@media (min-width: 1260px) {
	body {
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
	}
}
