h1 {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 35px;
}
h2 {
	margin-top: 15px;
	margin-bottom: 5px;
}
.example-description {
	margin-bottom: 5px;
}
.css-prop {
	font-size: .8em;
	font-family: monospace;
}

.container {
	background: gold;
	padding: 5px;
}

.a {
	background: dodgerblue;
}
.b {
	background: salmon;
}
.c {
	background: lightgreen;
}
.d {
	background: darkorange;
}