.example-scroll-effect {
    height: 400px;
    overflow: auto;
    border: 1px solid gray;
}
.example-scroll-effect .filler {
    height: 800px;
}
.example-scroll-effect .animated-block {
    background: dodgerblue;
    margin: auto;
    height: 200px;
    opacity: 0;
    transition: all .75s;
    width: 50%;
}
.example-scroll-effect .animated-block.visible {
    opacity: 1;
    width: 80%;
}
