/* Percent height where parent has no height set. */
.example-percent-height .container {
	width: 400px;
	height: 100px;
}
.example-percent-height .a {
	width: 50%;
	height: 75%;
}

/* Percent height where parent has no height set. */
.example-percent-height-parent-no-height .container {
	width: 400px;
}
.example-percent-height-parent-no-height .b {
	height: 100px;
}
.example-percent-height-parent-no-height .a {
	height: 100%;
}
.example-percent-height-parent-no-height .c {
	width: 50%;
}

/* Percent height where parent has no height set but grandparent does. */
.example-container {
	margin-top: 15px;
}
.example-percent-height-grandparent-has-height .grandparent {
	width: 400px;
	height: 100px;
}
.example-percent-height-grandparent-has-height .b {
	height: 100%;
}