.css-testing-component {
	display: flex;
}
/* Fix iOS styles. */
.css-testing-component textarea {
	margin: 0;

	-webkit-border-radius: 0;
	border-radius: 0;

	-webkit-box-shadow: none;
	box-shadow: none !important;
}

/* Text areas */
.css-testing-component__text-areas {
	display: flex;
	flex-direction: column;
}
.css-test-component__html,
.css-test-component__css {
	border: 1px solid gray;
	border-right: none; /* Stop double border. */
	resize: none;
}
.css-test-component__css {
	border-top: none; /* Stop double border. */
}

/* iframe */
/* The iframe will not behave as a flex item and fit the height of its flex container (because it's a replaced
element?).

Fixing this by wrapping it in another element which will behave like a flex item, then position the iframe so it covers
that. */
.css-testing-component__iframe-wrapper {
	position: relative;
	width: 250px;
	border: 1px solid gray;
}
.css-testing-component__iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	border: none;
}

/* Buttons */
.css-testing-component__buttons {
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}