.css-testing-component {
	display: flex;
}
.css-testing-component_input-wrapper {
	display: flex;
	flex-direction: column;
}
.css-test-component__html,
.css-test-component__css {
	border: 1px solid gray;
	border-right: none; /* Stop double border. */
}
.css-test-component__css {
	border-top: none; /* Stop double border. */
}

.css-testing-component_iframe {
	border: 1px solid gray;
}