html, body {
	height: 100%;
}

.prop-table {
	margin-top: 16px;
	margin-bottom: 16px;
}

.height100vh {
	height: 100vh;
	display: inline-block;
	background: salmon;
}

.height100percent {
	height: 100%;
	display: inline-block;
	background: dodgerblue;
}
