* {
	box-sizing: border-box;
}

:root {
	--height-tester-width: 24px;
	--height-tester-inline-padding: 4px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}


/** Info panel **/
.info {
	overflow: auto;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: calc((var(--height-tester-inline-padding) * 5) + (var(--height-tester-width) * 4));
	border-right: 1px solid black;
}

.prop-table {
	margin-top: 16px;
	margin-bottom: 16px;
}


/** Actual testing content panel **/
.height-forcer {
	/* Make this element larger to ensure we have enough scroll to actually allow address bars to minimise. */
	height: 200vh;
}

.height-tester {
	padding-top: 4px;
	writing-mode: vertical-rl;
	width: var(--height-tester-width);
	border: 3px solid green;
	white-space: nowrap;
	overflow: hidden;
}

.height100percent {
	height: 100%;
	display: inline-block;
	background: dodgerblue;
	position: absolute;
	/* Put these down far enough to we can see them fully after address bar minimising. */
	top: 50vh;
	right: calc((var(--height-tester-inline-padding) * 4) + (var(--height-tester-width) * 3));
}

.height100vh {
	height: 100vh;
	display: inline-block;
	background: salmon;
	position: absolute;
	top: 50vh;
	right: calc((var(--height-tester-inline-padding) * 3) + (var(--height-tester-width) * 2));
}

.height100percent-fixed {
	height: 100%;
	position: fixed;
	top: 0;
	right: calc(var(--height-tester-inline-padding) * 2 + var(--height-tester-width));
	background: dodgerblue;
}

.height100vh-fixed {
	height: 100vh;
	position: fixed;
	top: 0;
	right: var(--height-tester-inline-padding);
	background: salmon;
}
