h3 {
	margin-top: 15px;
	margin-bottom: 5px;
}

.a {
	display: flex;
	background: yellow;
	width: 300px;
	height: 300px;
}

label {
	display: block;
}

.aa {
	background: dodgerblue;
}
.ab {
	background: salmon;
}
.ac {
	background: lightgreen;
}