h3 {
	margin-top: 15px;
	margin-bottom: 5px;
}

body {
	display: flex;
}

/* Flex test area */
.flex-container {
	display: flex;
	background: yellow;
	width: 300px;
	height: 300px;
	padding: 20px;
}

.a {
	background: dodgerblue;
}
.b {
	background: salmon;
}
.c {
	background: lightgreen;
}

/* Controls */
.controls-properties {
	margin-left: 20px;
}

label {
	display: block;
}

.description {
	margin: 0 15px;
	font-size: .8em;
}

.flex-container-controls .select-label {
	display: inline-block;
	min-width: 150px
}

.flex-item-controls .select-label {
	display: inline-block;
	min-width: 20px
}