/** Utility classes **/
/* Do this so overflowing floats don't mess up following examples. */
.example-container {
	overflow: auto;
}
.container {
	width: 300px;
}
.a {
	float: left;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear-left {
	clear: left;
}
.clear-right {
	clear: right;
}
.clear-both {
	clear: both;
}

.inline-block {
	display: inline-block;
}

/** Example styles **/
/* Floating left and right */
.example-float-left-right .a {
	float: left;
}
.example-float-left-right .b {
	float: right;
}

/* Floats interacting with other floats */
.example-floats-and-floats .a {
	float: left;
	height: 60px;
}
.example-floats-and-floats .b {
	float: right;
}
.example-floats-and-floats .c {
	float: left;
	height: 50px;
}
.example-floats-and-floats .d {
	float: left;
}
.example-floats-and-floats .e {
	float: right;
}

.example-floats-and-floats-wide .container {
	width: 600px;
}

/* Floats and block boxes */
.example-div-interaction-1 .a {
	float: left;
}
.example-div-interaction-1 .b {
	height: 50px;
	width: 150px;
}
.example-div-interaction-1 .c {
	float: right;
}
.example-div-interaction-1 .d {
	float: left;
}
.example-div-interaction-1 .e {
	float: right;
}

.example-div-interaction-2 .a {
	float: left;
}
.example-div-interaction-2 .b {
	float: right;
}
.example-div-interaction-2 .c {
	height: 30px;
}
.example-div-interaction-2 .d {
	float: left;
}
.example-div-interaction-2 .e {
	float: left;
}

/* Floats and line boxes */
.example-line-box-inline-box .b {
	display: inline-block;
	width: 75px;
	height: 20px;
}
.example-line-box-inline-box .c {
	float: left;
}

.example-line-box-middle-float .inner {
	float: right;
	width: 100px;
}

/* Clearing floats */
.example-container-clear .container {
	display: inline-block;
	vertical-align: top;
}
.example-container-clear .b {
	height: 75px;
	float: right;
}

.example-clear-left .c {
	clear: left;
}
.example-clear-right .c {
	clear: right;
}
.example-clear-right .c {
	clear: both;
}

/* Containing floats */
.example-clearfix .container::after {
	content: "";
	display: block;
	clear: both;
}

.example-clear-overflow .container {
	overflow: auto;
}

.example-clear-flow-root .container {
	display: flow-root;
}